* {
  background: #292b31;
}
.App {
  font-family: "Bungee Hairline", sans-serif;
  text-align: center;
  color: #de2549;
  margin: 10%;
}

.logo_type {
  font-family: "Bungee Hairline", sans-serif;
  letter-spacing: 0.5rem;
  color: #de2549;
}
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}
.search-box {
  border: solid 0.5px rgba(255, 255, 255, 0.7);
}
::placeholder {
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  padding-left: 5px;
}
input[type="text"] {
  color: #de2549;
  padding-left: 5px;
  padding: 10px;
}
.submit-button {
  border: 0px;
  padding: 10px;
  background-color: #de2549;
}
input[type="submit"] {
  color: white;
  font-weight: bold;
}

p {
  font-size: 25px;
}
.main-icon {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.inter {
  font-family: "Inter", sans-serif;
}
.description {
  font-weight: 300;
  font-size: 1.5rem;
}
#github_link {
  text-decoration: none;
}

#github_text {
  font-size: 1em;
  margin-top: 50%;
  color: white;
  font-weight: bold;
}
#github_text:hover {
  color: #de2549;
  font-weight: bolder;
}
